<!DOCTYPE html>
<html>
<head>
    <title>LitePub: {{template "title" .}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/kube.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel='stylesheet prefetch' href='https://cdn.rawgit.com/yairEO/photobox/master/photobox/photobox.css'>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/init.js"></script>
	
</head>
<body>

    <div id="page-wrap">

        <div id="top-wrap">

            <header>
                <section>
                    <div id="logo" class="left">
                        <a href="/index.html">Tonys Blog</a>
                    </div>
                    <div id="nav" class="right">
                        <nav class="navbar">
                            <a id="hamburger" href=""></a>
                            <ul>
                                <li><a href="/index.html">Homepage</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                </section>
            </header>

        </div>

        <div id="main">
            <section class="units-row">
                <div class="unit-65 content-column" id="content">

                    {{template "content" .}}
				</div>	
                <div class="unit-35 content-column" id="sidebar">

                    <h2>Side Story</h2>
                    <h3>With subheader</h3>

                    <p>
                        In by an appetite no <a href="#">humoured returned</a> informed.
                        Ever lady son yet you very paid form away. Sense child do state to defer mr of forty.
                        Become latter but nor abroad wisdom waited.  Possession so comparison inquietude he
                        conviction no decisively.
                    </p>

                    <p>
                        In by an appetite no humoured returned informed.
                        Ever lady son yet <strong>you very paid form away</strong>. Sense child do state to defer mr of forty.
                        Become latter but nor abroad wisdom waited.  Possession so comparison inquietude he
                        conviction no decisively.
                    </p>

                    <p>
                        Delightful remarkably mr on announcing themselves <a href="#">entreaties favourable</a>.
                        About to in so terms voice at. Sense child do state to defer mr of forty.
                    </p>

                </div>
            </section>
        </div>

        <div id="links">
            <section class="units-row end">
                <div class="unit-50">
                    <h3>Set of useful links</h3>
                    <ul class="blocks-2 end">
                        <li>
                            <nav class="nav end">
                                <ul class="links-set">
                                    <li><a href="#">Delightful remarkably</a></li>
                                    <li><a href="#">Possession so comparison</a></li>
                                    <li><a href="#">In by an appetite</a></li>
                                </ul>
                            </nav>
                        </li>
                        <li>
                            <nav class="nav end">
                                <ul class="links-set">
                                    <li><a href="#">Delightful remarkably</a></li>
                                    <li><a href="#">Possession so comparison</a></li>
                                    <li><a href="#">In by an appetite</a></li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </div>
                <div class="unit-50">
                    <h3>More info about us</h3>
                    <p>
                        Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had county.
                        The use him without greatly can private. Increasing it unpleasant no of contrasted no continuing.
                        Nothing colonel my no removed in weather.
                    </p>
                </div>
            </section>
        </div>

        <footer>
            <section>
                <div id="copyright">
                    Simple template for great websites &copy; 2015
                </div>
            </section>
        </footer>

    </div>

</body>
</html>
